
body {
 background-color : #f7f7f7;
}

.header {
    background-color:#222222;
    margin:-8px;
    padding:0;
}
.header-title {
    font-size: 48px;
    color: #ecf0f1;
    text-align:center;
}
.hostname {
    color: #2c3e50;
    text-align:center;
}
.uptime {
    color: green;
    text-align:center;
}

.card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: rgba(50, 50, 93, 0.25) 2px 6px 12px -2px, rgba(0, 0, 0, 0.3) 2px 3px 7px -3px;
    margin-bottom:20px;
}

.Input-form{
    padding: 0.5em;
    margin: 0.5em;
    color: #3c3c3c;
    background: #f8f8f8;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px #3c3c3c;
    width: 60%;
    margin-left: 20%;
    font-size: 20px larger;
}

.content-centre{
    position: absolute; /* utilise la position absolue pour centrer l'élément */
    left: 53%; /* centre horizontalement l'élément */
    top: 35%;
    transform: translate(-50%, -50%); /* finit de centrer l'élément */
}

.button-center{
    display: flex; /* utilise flexbox pour centrer l'élément */
    align-items: center; /* centre verticalement l'élément */
    justify-content: center; /* centre horizontalement l'élément */
}
.text-center{
 text-align: center;
}


